o{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;

}
t{
    color: blue;
    font-family: 'Times New Roman', Times, serif;

}
y{
    color: rgb(173, 213, 14);
    font-family: 'Times New Roman', Times, serif;
}
x{
    color: rgb(216, 16, 156);
    font-family: 'Times New Roman', Times, serif;
}
r{
    color: rgb(6, 206, 46);
    font-family: 'Times New Roman', Times, serif;
}

b{
    color: rgb(236, 57, 8);
    font-family: cursive;

}


legend{

color: rgb(218, 16, 188);



}